body{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    height: 100vh;
    margin: 0%;
    overflow: hidden;
}

@font-face {
    font-family: Poppins;
    src: url("../FONTS/Poppins-Medium.ttf");
}

.third_div, .options_bar, .add_info_form_1, .add_info_form_2, .select_cont_div, .add_info_div, .result_after_save{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
}

.third_div{
    width: 100%;
    height: 100%;
    flex-direction: column;
    overflow: hidden;
}

.options_bar{
    width: 100%;
    min-height: 60px;
    flex-direction: row;
}

.add_info_div{
    width: 100%;
    height: 100%;
    overflow: hidden;
    background-color: rgb(139, 139, 209);
    border-radius: 20px;
}

.option_button, .save_button{
    min-width: 150px;
    padding: 10px;
    border-radius: 10px;
    margin-right: 15px;
    cursor: pointer;
    border: none;
    outline: none;
    background-color: rgb(131, 131, 229);
    color: white;
    transition: 0.2s;
    font-family: Poppins;
}

.option_button:hover{
    background-color: rgb(74, 74, 168);
}

::-webkit-scrollbar{
    width: 5px;
    height: 5px;
}

::-webkit-scrollbar-track{
    background-color: rgb(159, 173, 221);
    border-radius: 20px;
}

::-webkit-scrollbar-thumb{
    background-color: rgb(84, 111, 197);
    border-radius: 20px;
}

::-webkit-scrollbar-corner{
    background-color: transparent;
}

.text_input, .select_author{
    min-width: 90%;
    border: none;
    outline: none;
    transition: 0.2s;
    padding: 13px;
    color: rgb(0, 0, 0);
    font-family: Poppins;
    font-size: 12px;
    background-color: rgba(241, 241, 241, 0.87);
    border-radius: 20px;
    margin-bottom: 20px;
    min-height: 45px;
    max-height: 45px;
}

.text_input{
    margin-top: 10px;
}

.add_info_form_1, .add_info_form_2{
    width: 98%;
    height: 95%;
    overflow: auto;
    position: relative;
    overflow-y: auto;
    margin: 10px;
}
.add_info_form_2{
    display: none;
}

.select_author{
    min-width: 20%;
    margin: 0%;
    margin-right: 15px;
}

.select_cont_div{
    width: 90%;
    align-items: center;
    height: fit-content;
    flex-direction: row;
}

.save_button{
    background-color: white;
    color: rgb(92, 92, 198);
}

.save_button:hover{
    background-color: rgb(216, 216, 251);
}

.result_after_save{
    font-family: Poppins;
    color: rgb(72, 36, 66);
    width: fit-content;
    min-height: 100%;
    margin: 0%;
    justify-content: center;
}

.button_color_toggle{
    background-color: rgb(74, 74, 168);
}

.that_div{
    width: fit-content;
    height: fit-content;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

@media screen and (max-width : 768px) {
    .select_cont_div{
        flex-direction: column;
        align-items: flex-start;
    }
    .save_button{
        margin: 0%;
    }
    .select_author{
        min-width: none;
        width: 100px;
    }
}