body{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    height: 100vh;
    margin: 0%;
    overflow-y: hidden;
    
    background-image: linear-gradient(to bottom right, rgb(193, 231, 149), rgb(149, 168, 231), rgb(192, 205, 250), rgb(231, 149, 163));
    
    /* background-image: url("../MEDIA/lib3.jpg");
    background-repeat: no-repeat;
    background-size: cover; */
}

@font-face {
    font-family: Poppins;
    src: url("../FONTS/Poppins-Medium.ttf");
}

@font-face {
    font-family: Oswald;
    src: url("../FONTS/Oswald-Light.ttf");
}

@font-face {
    font-family: Poppins2;
    src: url("../FONTS/Poppins-Light.ttf");
}

.main_div, .form_main_responsive_div, .form_second_responsive_div, .form_main, .form_main_sub_div, .input_div, .accesso_div, .registrazione_div, .form_div_main{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.main_div, .form_main_responsive_div{
    width: 100%;
    height: 100%;
    overflow-y: auto;
}

.form_second_responsive_div{
    min-width: 100%;
    min-height: 600px;
}

.form_main{
    justify-content:center;
    align-items: flex-start;
    box-shadow: 2px 2px 5px 0 rgb(58, 58, 58);
    min-width: 430px;
    min-height: 500px;
    position: relative;
    z-index: 2;
    overflow-x: hidden;
    background-color: white;
    border-radius: 20px;
}

@media screen and (max-height: 500px){
    .form_main_responsive_div {
        justify-content: flex-start;
        align-items: flex-start;
    }
}

.titolo_form {
    font-family: Poppins2;
    color: rgb(0, 0, 0);
    font-size: 40px;
    margin: 0%;
    margin-bottom: 20px;
}

.form_main_sub_div{
    width: 70%;
    height: 65%;
    justify-content: space-around;
}

.messaggio_form{
    font-family: Poppins;
    color: rgb(0, 0, 0);
    font-size: 14px;
    width: 100%;
    padding: 4px;
    text-align: center;
}

.switch_form{
    cursor: pointer;
    text-decoration: underline;
    color: rgb(45, 100, 145);
}

.input_div{
    height: 90px;
    min-width: 100%;
    justify-content: space-around;
}

.input_div p{
    font-family: Poppins;
    color: white;
    width: 80%;
    text-align: start;
    margin: 0%;
    margin-bottom: 5px;
    margin-right: 10px;
}

.text_input{
    min-width: 100%;
    border: none;
    outline: none;
    transition: 0.5s;
    padding: 15px;
    color: rgb(0, 0, 0);
    font-family: Poppins;
    font-size: 12px;
    background-color: rgba(241, 241, 241, 0.87);
    box-shadow: 2px 2px 5px 0 rgb(116, 116, 116);
    border-radius: 20px;
}

.input_div .username_error, .input_div .password1_error, .input_div .password2_error{
    color: rgb(203, 72, 72);
    font-family: Poppins;
    width: 100%;
    text-align: start;
    font-size: 12px;
    min-height: 20px;
    margin: 0%;
}

.button{
    width: 80%;
    height: 40px;
    padding: 10px;
    border: none;
    outline: none;
    transition: 0.2s;
    color: rgb(255, 255, 255);
    font-family: Poppins;
    font-size: 14px;
    background-color: rgb(70, 137, 191);
    cursor: pointer;
    box-shadow: 2px 2px 5px 0 rgb(58, 58, 58);
    border-radius: 20px;
}

.button:hover{
    background-color: rgb(107, 159, 202);
}

.form_image{
    position: absolute;
    z-index: 0;
    width: 600px;
    height: 500px;
    filter: opacity(0.5);
}

.accesso_div, .registrazione_div{
    width: 100%;
    height: 100%;
}

.form_div_main{
    width: 860px;
    height: 100%;
    flex-direction: row;
    position: absolute;
    z-index: 1;
    transition: ease-in-out 0.2s;
}

.form_div_main_toggle{
    transform: translateX(-50%);
}

::-webkit-scrollbar{
    width: 3px;
    height: 3px;
}

::-webkit-scrollbar-track{
    background-color: rgb(159, 173, 221);
}

::-webkit-scrollbar-thumb{
    background-color: rgb(84, 111, 197);
}