<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="../middleware.js"></script>
    <script src="../logic.js"></script>
    <script src="./form/JS/form.js"></script>
    <link rel="stylesheet" href="./form/CSS/form.css">
    <title>Casa Editrice</title>
</head>
<body>
    <div class="form_main_responsive_div">
        <div class="form_second_responsive_div">
            <div class="form_main">
                <div class="form_div_main">
                    <div class="accesso_div">
                        <div class="titolo_cont">
                            <div class="princ_titolo_cont">
                                <img src="./form/MEDIA/books.png" alt="logo" class="logo">
                                <h1 class="titolo_form_1">Casa Editrice</h1>
                            </div>
                            <h2 class="titolo_form_2">Accesso</h2>
                        </div>
                        <form class="form_main_sub_div" id="access_form">
                            <div class="input_div">
                                <input type="text" name="username" class="text_input" placeholder="Username">
                                <p class="username_error"></p>
                            </div>
                            <div class="input_div">
                                <input type="password" name="password1" class="text_input" placeholder="Password">
                                <p class="password1_error"></p>
                            </div>
                            <div class="button_cont">
                                <input type="submit" class="button" id = "accedi_bottone" value="Accedi"> 
                                <div class="rimani_connesso_div">
                                    <label for="rim">Rimani connesso</label>
                                    <input type="checkbox" name="" id="rim">
                                </div>
                            </div>
                        </form>
                        <div class="messaggio_form">Non hai un account? <div class="switch_form" >Registrati</div></div>
                    </div>
                    <div class="registrazione_div">
                        <div class="titolo_cont">
                            <div class="princ_titolo_cont">
                                <img src="./form/MEDIA/books.png" alt="logo" class="logo">
                                <h1 class="titolo_form_1">Casa Editrice</h1>
                            </div>
                            <h2 class="titolo_form_2">Registrazione</h2>
                        </div>
                        <form class="form_main_sub_div" id="registration_form">
                            <div class="input_div">
                                <input type="text" name="username" class="text_input" id="reg_inp" placeholder="Username">
                                <p class="username_error"></p>
                            </div>
                            <div class="input_div">
                                <input type="password" name="password1" class="text_input" placeholder="Password">
                                <p class="password1_error"></p>
                            </div>
                            <div class="input_div">
                                <input type="password" name="password2" class="text_input" placeholder="Password">
                                <p class="password2_error"></p>
                            </div>
                            <input type="submit" class="button" value="Registrati" id="registrati_bottone"> 
                        </form>
                        <div class="messaggio_form">Hai gia un account? <div class="switch_form" >Accedi</div></div>
                    </div>
                </div>
                <!-- <img src="./form/MEDIA/lib2.jpg" class="form_image" alt="img"> -->
            </div>
        </div>
    </div>
    <!-- <img src="./form/MEDIA/lib2.jpg" class="form_image_2" alt="img"> -->
    <!-- <div class="first_panel_loader">
        <div class="lds-dual-ring"></div>
    </div> -->
</body>
</html>