body{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    height: 100vh;
    margin: 0%;
    overflow: hidden;
}

@font-face {
    font-family: Poppins;
    src: url("../FONTS/Poppins-Medium.ttf");
}

.third_div, .options_bar, .main_page, .page, .modify_cont_div, .mini_form{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
}

.third_div{
    width: 100%;
    height: 100%;
    flex-direction: column;
    overflow: hidden;
}

.main_page{
    width: 100%;
    height: 100%;
    overflow: hidden;
    background-color: rgb(139, 139, 209);
    border-radius: 20px;
}

.options_bar{
    width: 100%;
    min-height: 60px;
    flex-direction: row;
}

.option_button, .search_button, .modify_button, .remove_button{
    min-width: 150px;
    padding: 10px;
    border-radius: 10px;
    margin-right: 15px;
    cursor: pointer;
    border: none;
    outline: none;
    background-color: rgb(131, 131, 229);
    color: white;
    transition: 0.2s;
    font-family: Poppins;
}
.search_button, .modify_button, .remove_button{
    background-color: white;
    color: rgb(92, 92, 198);
}

.remove_button{
    color: rgb(198, 92, 92);
}

.search_button:hover, .modify_button:hover, .remove_button:hover{
    background-color: rgb(216, 216, 251);
}

.option_button:hover{
    background-color: rgb(74, 74, 168);
}

::-webkit-scrollbar{
    width: 5px;
    height: 5px;
}

::-webkit-scrollbar-track{
    background-color: rgb(159, 173, 221);
    border-radius: 20px;
}

::-webkit-scrollbar-thumb{
    background-color: rgb(84, 111, 197);
    border-radius: 20px;
}

::-webkit-scrollbar-corner{
    background-color: transparent;
}

.text_input, #mini_form_text_input{
    min-width: 90%;
    border: none;
    outline: none;
    transition: 0.2s;
    padding: 13px;
    color: rgb(0, 0, 0);
    font-family: Poppins;
    font-size: 12px;
    background-color: rgba(241, 241, 241, 0.87);
    border-radius: 20px;
    margin-bottom: 20px;
}

.text_input{
    margin-top: 10px;
}

.page{
    width: 98%;
    height: 95%;
    overflow: auto;
    position: relative;
    overflow-y: auto;
    margin: 10px;
    align-items: center;
}

#mini_form_text_input{
    min-width: 40%;
    margin: 0%;
}

.button_color_toggle{
    background-color: rgb(74, 74, 168);
}

.mini_form, .modify_cont_div{
    min-width: 90%;
    height: fit-content;
    margin-bottom: 30px;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
}

.modify_cont_div{
    margin: 0%;
}

.modify_button{
    margin: 0%;
    margin-right: 15px;
}

.search_button{
    margin: 0%;
    margin-left: 20px;
    margin-right: 20px;
}

.main_form{
    width: 90%;
    height: fit-content;
    margin: 0%;
}

.mini_form, .main_form{
    margin: 5px;
}

.result_after_save{
    font-family: Poppins;
    color: rgb(72, 36, 66);
    max-width: fit-content;
    max-height: fit-content;
    margin: 0%;
    justify-content: center;
    display: flex;
    white-space: nowrap;
}

.wrap_that, .wrap_that_2{
    width: fit-content;
    height: fit-content;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

@media screen and (max-width : 768px) {
    .mini_form, .modify_cont_div{
        flex-direction: column;
        align-items: flex-start;
    }
    .search_button{
        margin: 0%;
        margin-right: 20px;
    }
    .wrap_that{
        margin-top: 20px;
    }
    #mini_form_text_input{
        min-width: 60%;
    }
    .wrap_that_2{
        margin-bottom: 20px;
    }
}