body{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    height: 100vh;
    margin: 0%;
    overflow: hidden;
}

@font-face {
    font-family: Poppins;
    src: url("../FONTS/Poppins-Medium.ttf");
}

.third_div, .options_bar, .table_div, .table_div_main{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
}

.third_div{
    width: 100%;
    height: 100%;
    flex-direction: column;
    overflow: hidden;
}

.options_bar{
    width: 100%;
    min-height: 60px;
    flex-direction: row;
}

.option_button{
    min-width: 150px;
    padding: 10px;
    border-radius: 10px;
    margin-right: 15px;
    cursor: pointer;
    border: none;
    outline: none;
    background-color: rgba(255, 255, 255, 0.183);
    color: white;
    transition: 0.2s;
    font-family: Poppins;
}

.option_button:hover{
    background-color: rgba(255, 255, 255, 0.355);
}

.button_color_toggle{
    background-color: rgba(255, 255, 255, 0.355);
}

.table_div_main{
    /* background-color: rgb(255, 255, 255); */
    background-color: rgba(255, 255, 255, 0.183);
    justify-content: center;
    border-radius: 20px;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.table_div{
    width: 98%;
    height: 95%;
    overflow-x: auto;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    overflow: auto;
    margin: 10px;
}

.table{
    width: 100%;
    height: fit-content;
    color: rgb(255, 255, 255);
    font-family: Poppins;
    overflow: hidden;
    border-collapse: collapse;
    margin: 10px;
    font-size: 13px;
}

.table td div, .table th div, .table td div, .table th div{
    text-align: start;
    text-overflow: ellipsis;
    white-space: nowrap;
    min-width: 200px;
    width: 200px;
    max-width: fit-content;
    overflow: hidden;
    resize: horizontal;
    height: 20px;
    padding: 10px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    min-height: 20px;
    max-height: 20px;
  }

::-webkit-scrollbar{
    width: 5px;
    height: 5px;
}

::-webkit-scrollbar-track{
    background-color: rgba(255, 255, 255, 0.324);
    border-radius: 20px;
}

::-webkit-scrollbar-thumb{
    background-color: rgb(255, 255, 255);
    border-radius: 20px;
}

::-webkit-scrollbar-corner{
    background-color: transparent;
}