<html>
    <head>
        <link rel="stylesheet" href="./comp0/CSS/comp0.css">
        <script src="../../../middleware.js"></script>
        <script src="../../../logic.js"></script>
        <script src="../JS/home.js"></script>
        <script src="./comp0/JS/comp0.js"></script>
    </head>
    <body>
        <div class="third_div">
            <div class="options_bar">
                <button value="0" class="option_button">Libri</button>
                <button value="1" class="option_button">Autori</button>
            </div>
            <div class="table_div">
                <table class="table">
                    
                </table>
            </div>
        </div>
    </body>
</html>