<html>
    <head>
        <link rel="stylesheet" href="./comp3/CSS/comp3.css">
        <script src="../../../middleware.js"></script>
        <script src="../../../logic.js"></script>
        <script src="../JS/home.js"></script>
        <script src="./comp3/JS/comp3.js"></script>
    </head>
    <body>
        <div class="third_div">
            <div class="options_bar">
                <button value="0" class="option_button button_color_toggle">Libri</button>
                <button value="1" class="option_button">Autori</button>
            </div>
            <div class="main_page">
                <div class="page">
                    <form class="mini_form">
                        <input type="text" id="mini_form_text_input">
                        <input type="submit" class="search_button">
                        <p value = "0" class="result_after_save"></p>
                    </form>
                    <form method="put" class="main_form">
                        <input type="text" class="text_input">
                        <input type="text" class="text_input">
                        <input type="text" class="text_input"> 
                        <input type="text" class="text_input">
                        <div class="modify_cont_div">
                            <input type="submit" value="Modifica" class="modify_button">
                            <input type="submit" value="Elimina" class="remove_button">
                            <p value = "1" class="result_after_save"></p>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </body>
</html>