<html>
    <head>
        <link rel="stylesheet" href="./comp1/CSS/comp1.css">
        <script src="../../../middleware.js"></script>
        <script src="../../../logic.js"></script>
        <script src="../JS/home.js"></script>
        <script src="./comp1/JS/comp1.js"></script>
    </head>
    <body>
        <div class="third_div">
            <div class="options_bar">
                <button class="option_button">Aggiungi filtro</button>
            </div>
            <div class="table_div_main">
                <div class="table_div">
                    <table class="table">
                        
                    </table>
                </div>
                <div class="filter_menu_div">
                    <div class="filter_input_cont_div">
                        <input type="text" class="text_input" placeholder="Nome autore">
                        <input type="text" class="text_input" placeholder="Cognome autore">
                        <input type="text" class="text_input" placeholder="Stato provenienza">
                        <input type="text" class="text_input" placeholder="Anno pubblicazione">
                        <input type="text" class="text_input" placeholder="Genere">
                        <div class="filter_input_cont_buttons">
                            <button class="filter_button" id="filter_annulla">Annulla</button>
                            <button class="filter_button" id="filter_invia">Invia</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>