<html>
    <head>
        <link rel="stylesheet" href="./comp2/CSS/comp2.css">
        <script src="../../../middleware.js"></script>
        <script src="../../../logic.js"></script>
        <script src="../JS/home.js"></script>
        <script src="./comp2/JS/comp2.js"></script>
    </head>
    <body>
        <div class="third_div">
            <div class="options_bar">
                <button value="0" class="option_button">Libri</button>
                <button value="1" class="option_button">Autori</button>
            </div>
            <div class="add_info_div">
                <form class="add_info_form_1">
                    <input type="text" placeholder="Titolo" class="text_input" name="title">
                    <input type="text" placeholder="Genere" class="text_input" name="genre"> 
                    <input type="text" placeholder="Anno" class="text_input" name="year">
                    <input type="text" placeholder="ISBN" class="text_input" name="isbn">
                    <div class="select_cont_div">
                        <select name="author" class="select_author">
                        
                        </select>
                        <input type="submit" value="Salva" class="save_button">
                    </div>
                </form>
                <form class="add_info_form_2">
                    <input type="text" placeholder="Nome" class="text_input" name="name">
                    <input type="text" placeholder="Cognome" class="text_input" name="surname">
                    <input type="text" placeholder="Data nascita" class="text_input" name="dateb">
                    <input type="text" placeholder="Stato provenienza" class="text_input" name="nation">
                    <div class="select_cont_div">
                        <input type="submit" value="Salva" class="save_button">
                    </div>
                </form>
            </div>
            
        </div>
    </body>
</html>